In [1]:
import numpy as np
import pandas as pd

In [2]:
#Sample labels
labelsamples= ["b1p1_m05","b1p1_m10","b1p1_m20","b1p1_m40","b1p5_m05","b1p5_m10","b1p5_m20","b1p5_m40","b10_m05","b10_m10","b10_m20","b10_m40"]

path='../CLs/'
#txt files with signal strength, expected background and signal efficiency for each nuclear configuration model
infiles = ['Eff_Bkg_index_00a.txt', 'Eff_Bkg_index_01a.txt', 'Eff_Bkg_index_02a.txt', 'Eff_Bkg_index_00b.txt', 'Eff_Bkg_index_01b.txt', 'Eff_Bkg_index_02b.txt']

#function to read the list of txt files
def readtxt(infile_array):
    listloaded = [] 
    for infile in infile_array:
        listloaded.append(np.loadtxt(path+infile, usecols=(3,4), skiprows=1))
    return listloaded

In [3]:
optimals = readtxt(infiles)

## 1: (b_cv - b_i)/b_cv ,   2: (eff_cv - eff_i)/eff_cv ##

In [22]:
def return_shift(value):
    if value < 1:
        return -1+value
    if value > 1:
        return value-1
    if value == 1:
        return value-1

In [23]:
optimals = np.array(optimals)
optimals

array([[[1.500000e-02, 2.431368e+03],
        [1.800000e-02, 2.434771e+03],
        [1.800000e-02, 2.434771e+03],
        [1.900000e-02, 2.433313e+03],
        [1.130000e-01, 1.676655e+03],
        [1.150000e-01, 1.676655e+03],
        [1.180000e-01, 1.676655e+03],
        [1.180000e-01, 1.676655e+03],
        [3.730000e-01, 2.590332e+03],
        [3.870000e-01, 2.619257e+03],
        [4.020000e-01, 1.647730e+03],
        [3.320000e-01, 1.811312e+03]],

       [[1.400000e-02, 2.502410e+03],
        [1.600000e-02, 2.507192e+03],
        [1.800000e-02, 2.507192e+03],
        [1.800000e-02, 2.504860e+03],
        [1.160000e-01, 1.732361e+03],
        [1.170000e-01, 1.732361e+03],
        [1.200000e-01, 1.732361e+03],
        [1.200000e-01, 1.732361e+03],
        [3.730000e-01, 2.703055e+03],
        [3.860000e-01, 2.735665e+03],
        [0.000000e+00, 0.000000e+00],
        [3.160000e-01, 1.704810e+03]],

       [[2.300000e-02, 2.702546e+03],
        [2.600000e-02, 2.705910e+03],
        [2.800000e-02, 2.705910e+03],
        [2.800000e-02, 2.703913e+03],
        [1.120000e-01, 1.851512e+03],
        [1.170000e-01, 1.851512e+03],
        [1.200000e-01, 1.851512e+03],
        [1.220000e-01, 1.851512e+03],
        [3.740000e-01, 2.781920e+03],
        [3.910000e-01, 2.810305e+03],
        [3.140000e-01, 1.740178e+03],
        [3.340000e-01, 1.927416e+03]],

       [[8.000000e-03, 2.443404e+03],
        [1.000000e-02, 2.446939e+03],
        [1.100000e-02, 2.446939e+03],
        [1.200000e-02, 2.445267e+03],
        [1.130000e-01, 1.667206e+03],
        [1.180000e-01, 1.667206e+03],
        [1.200000e-01, 1.667206e+03],
        [1.200000e-01, 1.667206e+03],
        [3.670000e-01, 2.582092e+03],
        [3.820000e-01, 2.610364e+03],
        [3.080000e-01, 1.623794e+03],
        [3.260000e-01, 1.793954e+03]],

       [[7.000000e-03, 2.499552e+03],
        [8.000000e-03, 2.504899e+03],
        [9.000000e-03, 2.504899e+03],
        [9.000000e-03, 2.501469e+03],
        [1.190000e-01, 1.727638e+03],
        [1.200000e-01, 1.727638e+03],
        [1.220000e-01, 1.727638e+03],
        [1.210000e-01, 1.727638e+03],
        [3.700000e-01, 2.709542e+03],
        [3.840000e-01, 2.741219e+03],
        [3.080000e-01, 1.698886e+03],
        [3.260000e-01, 1.879771e+03]],

       [[3.300000e-02, 2.902587e+03],
        [3.500000e-02, 2.906410e+03],
        [3.400000e-02, 2.906410e+03],
        [3.400000e-02, 2.904344e+03],
        [1.160000e-01, 1.951437e+03],
        [1.180000e-01, 1.951437e+03],
        [1.250000e-01, 1.951437e+03],
        [1.240000e-01, 1.951437e+03],
        [3.630000e-01, 2.910751e+03],
        [3.830000e-01, 2.940358e+03],
        [3.050000e-01, 1.832699e+03],
        [3.260000e-01, 2.021141e+03]]])

In [24]:
# Vectorize the function
vectorized_nuclear_shift = np.vectorize(return_shift)

In [56]:
def color_negative_red(val):
    """
    Takes a scalar and returns a string with
    the css property `'color: red'` for negative
    strings, black otherwise.
    """
    color = 'blue' if val > 0 else 'black'
    return 'color: % s' % color

models = [vectorized_nuclear_shift(optimals[i][:][:]/optimals[0][:][:]) for i in range(6) ] 
df_models = [pd.DataFrame({'Efficiency Shift': model[:, 0]*100, 'Background Shift': model[:, 1]*100}) for model in models]

    Efficiency Shift  Background Shift
0         -46.666667          0.495030
1         -44.444444          0.499760
2         -38.888889          0.499760
3         -36.842105          0.491264
4           0.000000         -0.563563
5           2.608696         -0.563563
6           1.694915         -0.563563
7           1.694915         -0.563563
8          -1.608579         -0.318106
9          -1.291990         -0.339524
10        -23.383085         -1.452665
11         -1.807229         -0.958311

In [58]:
df_models[1]

    Efficiency Shift  Background Shift
0          -6.666667          2.921894
1         -11.111111          2.974448
2           0.000000          2.974448
3          -5.263158          2.940312
4           2.654867          3.322449
5           1.739130          3.322449
6           1.694915          3.322449
7           1.694915          3.322449
8           0.000000          4.351682
9          -0.258398          4.444314
10       -100.000000       -100.000000
11         -4.819277         -5.879826

In [61]:
df_models[1].iloc[:,0]

0      -6.666667
1     -11.111111
2       0.000000
3      -5.263158
4       2.654867
5       1.739130
6       1.694915
7       1.694915
8       0.000000
9      -0.258398
10   -100.000000
11     -4.819277
Name: Efficiency Shift, dtype: float64